*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jaldi", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ac8bc2;
    padding: 20px 30px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ddd;
}

.nav-icons a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
}

.nav-icons a:hover {
    color: #ddd;
}


/* Estilo del Carrusel */
.carrusel {
    margin-top: 10px; 
    width: 100%;
    height: 500px;
    background-color: #84458a;
    overflow: hidden;
}

#contItemsCarrusel{
    display: flex;
    height: 500px;
    width: 100%;
}

.intemCarrusel{
    height: 500px;
    position: relative;
}

.tarjetaCarrusel{
    background-color: rgb(122, 211, 181);
    height: 100%;
}

.flechasC{
    background-color: rgb(65, 71, 197, 0.3);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1{
    background-color: #ac8bc2;
}
#tarjetaCarrusel-2{
    background-color: #8ba9c2;
}
#tarjetaCarrusel-3{
    background-color: #8bc2c2;
}

a{
    text-decoration: none;
}

i{
    color: white;
}

img{
    width: 100%;
    height: 100%;
}