<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colecciones - Ecstasy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/img/logo-ecstasy-.png" alt="Logo Ecstasy" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="colecciones.html">Colecciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guiatallas.html">Guía de Tallas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
        </ul>
        <!-- Iconos -->
        <div class="navbar-icons">
          <i class="ri-search-line"></i>
          <i class="ri-shopping-cart-line"></i>
          <i class="ri-heart-line"></i>
          <i class="ri-user-line"></i>
        </div>
      </div>
    </nav>

    <section id="colecciones">
      <div class="container mt-4">
        <div class="dropdowns">
          <div class="dropdown">
            <button class="dropdown-btnc"><h3>Colecciones <i class="ri-arrow-down-s-line"></i></h3></button>
            <div class="dropdown-content">
              <a href="#">Camisetas</a>
              <a href="#">Hoodies</a>
              <a href="#">Gorras</a>
              <a href="#">Mugs</a>
            </div>
          </div>
      
          <!-- Dropdown de Orden -->
          <div class="dropdown">
            <button class="dropdown-btn">Más vendido<i class="ri-arrow-down-s-line"></i></button>
            <div class="dropdown-content">
              <a href="#">Menor precio</a>
              <a href="#">Más vendido</a>
            </div>
          </div>
        </div>
      
        <!-- Grid de Productos -->
        <section id="productos" class="productos">
          <h2 class="text-center">Nuestros Productos</h2>
          <div class="container product-grid">
            <div class="row">
        
              <!-- Producto 1 -->
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="product card">
                  <img src="/img/camiseta.jpg" class="card-img-top" alt="producto 1">
                  <div class="product-info card-body">
                    <h5 class="card-title">Camiseta</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <div class="product-actions">
                      <i class="ri-heart-line like-icon"></i>
                      <button class="btn btn-primary add-cart-btn">Agregar al carrito</button>
                      <button class="btn btn-secondary view-details-btn">Ver detalles</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- Producto 2 -->
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="product card">
                  <img src="/img/camisetaO.jpg" class="card-img-top" alt="producto 2">
                  <div class="product-info card-body">
                    <h5 class="card-title">Camiseta Oversize</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <div class="product-actions">
                      <i class="ri-heart-line like-icon"></i>
                      <button class="btn btn-primary add-cart-btn">Agregar al carrito</button>
                      <button class="btn btn-secondary view-details-btn">Ver detalles</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- Producto 3 -->
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="product card">
                  <img src="/img/hoodie.jpg" class="card-img-top" alt="producto 3">
                  <div class="product-info card-body">
                    <h5 class="card-title">Hoodie</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <div class="product-actions">
                      <i class="ri-heart-line like-icon"></i>
                      <button class="btn btn-primary add-cart-btn">Agregar al carrito</button>
                      <button class="btn btn-secondary view-details-btn">Ver detalles</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- Producto 4 -->
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="product card">
                  <img src="/img/gorra.jpg" class="card-img-top" alt="producto 4">
                  <div class="product-info card-body">
                    <h5 class="card-title">Gorra</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <div class="product-actions">
                      <i class="ri-heart-line like-icon"></i>
                      <button class="btn btn-primary add-cart-btn">Agregar al carrito</button>
                      <button class="btn btn-secondary view-details-btn">Ver detalles</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Producto 5 -->
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="product card">
                  <img src="/img/mug.jpg" class="card-img-top" alt="producto 5">
                  <div class="product-info card-body">
                    <h5 class="card-title">Mug</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <div class="product-actions">
                      <i class="ri-heart-line like-icon"></i>
                      <button class="btn btn-primary add-cart-btn">Agregar al carrito</button>
                      <button class="btn btn-secondary view-details-btn">Ver detalles</button>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </section>
        
    </section>
      

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
